*{
    margin: 0%;
    box-sizing: border-box;
}
body {
    /* background-image: url('../public/assets/images/fondo.png'); */
    font-family: sans-serif;
    padding: 100px 20px 0;
    
    background-position: center;
    background-repeat:no-repeat;
    background: #2C3E50;

    /* background: -webkit-linear-gradient(to top, #4CA1AF, #2C3E50);
    background: linear-gradient(to top, #4CA1AF, #2C3E50); */
}
.routes{
    margin: 0;
    padding: 0;
}